<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appdynamics" type="AppDynamics.Configuration.AppDynamicsConfigurationSection, AppDynamics.Configuration"/>
  </configSections>
  <appdynamics>
    <app name="test_app">
      <properties>
        <clear/>
        <add key="test" value="app property"/>
      </properties>
    </app>
    <tier name="test_tier">
      <properties>
        <clear/>
        <add key="test" value="tier property"/>
      </properties>
    </tier>
    <properties>
      <clear/>
      <add key="test" value="node property"/>
    </properties>
  </appdynamics>
</configuration>